
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  width: 80%;
}


header{
  height: 120px;
  background-color: white;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
}

header input {
  height: 30px;
      align-self: center;
      border: none;
      border-bottom: 2px solid;
}

nav{
  height: 100%;
}
ul{
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 100%;
  li{
    list-style-type: none;
    padding: 0px 30px;
    width: 100%;
    height: 100%;
    a{
      display: flex;
      align-items: center;
      height: 100%;
      text-decoration: none;
      color: #464646;
      &:hover,
      &.active{
        color: #2b82f9;
        border-bottom: 3px solid #2b82f9;
      }
    }
  }
}

.jumbotron img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  object-position: top;
}

.box {
  background-color: blue;
}

.footer{
  background-image: url("../img/footer-bg.jpg");
  background-size: cover;
  height: 400px;
}


